<div class="modal fade" id="reverse_count_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Mental Arithmetic</h3>
      </div>
      <div class="modal-body">
        <button v-on:click="generateRandom" class="btn btn-secondary" id="randgen-btn">Click to generate random number (1 ~ 17)</button>
        <br />
        <h5 class="rand-header">The random number is {{ randomNumber }}</h5>
        <div class="btn-group" data-toggle="buttons" id="reverse-count-actions">
          <%= link_to "User input Option", '#', class: 'btn btn-info' %>
          <%= link_to "Timed Option", '#', class: 'btn btn-warning' %>
          <%= link_to "Show Count Distribution", '#', class: 'btn btn-danger', data: { target: '#reverse-count-content', toggle: 'collapse'} %>
        </div>
        <div class="randgen-main">
          <%= render 'tests/options/show_count' %>
        </div>
      </div>
    </div>
  </div>
</div>
