<div class="modal fade" id="reverse_count_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Mental Arithmetic</h3>
      </div>
      <div class="modal-body">
        <button v-on:click="generateRandom" class="btn btn-secondary" id="randgen-btn">Click to generate random number (1 ~ 17)</button>
        <br />
        <div class="reverse-count-content">
          <h5 class="rand-header">The random number is {{ randomNumber }}</h5>
          <p class="rand-values">Values counting backwards from 100 by {{ randomNumber}} are: </p>
          <ul class="modal-list">
            <li v-for="num in reverseNumbers" v-bind:class="randCol">{{ num.value }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
