<p id="notice"><%= notice %></p>

<p>
  <strong>Accuracy rating:</strong>
  <%= @backwards_count_test.accuracy_rating %>
</p>

<%= link_to 'Edit', edit_backwards_count_test_path(@backwards_count_test) %> |
<%= link_to 'Back', backwards_count_tests_path %>
