<p>
  <%= simple_format @test.description %>
</p>
<div class="action-buttons">
  <%= link_to 'Start Test', '#reverse_count_modal', class: 'btn btn-info', data: { toggle: 'modal', target: '#reverse_count_modal' } %>
</div>
<%= render '/tests/options/reverse_count' %>
